.git
.DS_Store
.receipt/*
!.receipt/bin/
!.receipt/bin/receipt
!.receipt/config.json
.receipt/data/
.receipt/resonate/
.receipt/home/
.receipt/docker/
node_modules
dist
coverage
video/node_modules
video/dist
tmp
*.log
.gitignore
